@charset "UTF-8";
.hero h1 span {
  font-family: "Playfair Display", sans-serif;
  font-size: 120px;
  line-height: 1;
  color: white;
  text-decoration: none;
  text-transform: uppercase; }

.main-branding-background-image header nav, .hero .button a {
  font-family: "Fjalla One", serif;
  font-size: 13.125px;
  line-height: 1.5;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase; }

.dropdown ul li, .middle-nav .row > ul, .middle-nav .row > a {
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  font-size: 16.5px;
  letter-spacing: normal;
  color: #b9bdb8; }

.hero h1 {
  font-family: "Fjalla One", serif;
  font-size: 19.6875px;
  line-height: 1.5;
  color: white;
  letter-spacing: 6px;
  text-transform: uppercase; }

.travel-gallery .wrapper figure figcaption {
  font-family: "Fjalla One", serif;
  font-size: 21.65625px;
  line-height: 1.5;
  color: white;
  text-transform: uppercase; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

.main-branding-background-image {
  background-image: url(../img/hero-background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white; }
  .main-branding-background-image header {
    padding-top: 4em;
    display: flex;
    justify-content: space-around;
    width: 82.5%;
    margin: auto; }
    .main-branding-background-image header .logo {
      flex: 1 1 110px;
      display: flex; }
      .main-branding-background-image header .logo img:first-child {
        width: 50px; }
      .main-branding-background-image header .logo img:nth-child(2) {
        width: 180px; }
    .main-branding-background-image header nav {
      display: flex;
      align-self: center;
      flex: 1 1 auto; }
      .main-branding-background-image header nav > ul {
        display: flex;
        justify-content: space-between;
        flex: 1 1 auto; }
        .main-branding-background-image header nav > ul li {
          flex: 1 1 auto; }

.dropdown {
  position: relative; }
  .dropdown > a {
    padding: 1em; }
  .dropdown::after {
    font-family: sans-serif;
    content: ""; }
  .dropdown:hover ul {
    display: block;
    background-color: #343432; }
  .dropdown:hover a {
    background-color: #343432;
    border-radius: 3px; }
  .dropdown ul {
    position: absolute;
    display: none; }
    .dropdown ul li {
      background-color: #343432;
      line-height: 2em;
      width: 200px;
      padding: 1em;
      border-bottom: 1px #b9bdb8 solid; }
      .dropdown ul li:hover {
        color: white; }

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .hero h1 {
    padding-bottom: 2em; }
  .hero .button {
    padding: 4em;
    border-top: 5px white solid; }
    .hero .button a {
      padding: 1.5em 2em;
      background-color: #cf7c3a; }

.middle-nav {
  background-image: url(../img/bg-categorynav.jpg);
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); }
  .middle-nav .row {
    width: 82.5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    line-height: 2.5em;
    padding: 1.3em 0; }
    .middle-nav .row > ul {
      display: flex;
      justify-content: space-between;
      flex: 1 1 0; }
      .middle-nav .row > ul > li:last-child {
        padding-left: 0.5em;
        border-left: 1px #b9bdb8 solid;
        color: #cf7c3a; }
      .middle-nav .row > ul > li:nth-last-child(2) {
        padding-right: 0.5em; }
    .middle-nav .row > a {
      flex: 1 1 auto;
      text-align: right;
      font-weight: bold; }
      .middle-nav .row > a i {
        font-size: 1.3em;
        color: #868686;
        padding-left: 0.5em; }

.travel-gallery .wrapper {
  padding-top: 5em;
  background-color: #343432;
  display: flex;
  flex-wrap: wrap; }
  .travel-gallery .wrapper a {
    flex: 1 1 25%; }
    .travel-gallery .wrapper a:last-child {
      flex-basis: 50%; }
    .travel-gallery .wrapper a:first-child {
      flex-basis: 50%; }
    .travel-gallery .wrapper a:hover .icon {
      transition: transform 0.3s;
      transform: scale(1.25); }
  @media screen and (max-width: 840px) {
    .travel-gallery .wrapper a {
      flex: 1 1 50%; }
      .travel-gallery .wrapper a:last-child {
        flex-basis: 100%; }
      .travel-gallery .wrapper a:first-child {
        flex-basis: 100%; } }
  @media screen and (max-width: 420px) {
    .travel-gallery .wrapper a {
      flex: 1 1 100%; }
      .travel-gallery .wrapper a:last-child {
        flex-basis: 100%; }
      .travel-gallery .wrapper a:first-child {
        flex-basis: 100%; } }
  .travel-gallery .wrapper figure {
    height: 420px;
    display: flex;
    position: relative;
    background-position: bottom center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center; }
    .travel-gallery .wrapper figure figcaption {
      position: absolute;
      bottom: 9%;
      left: 7%; }
    .travel-gallery .wrapper figure .orange-bar {
      background: #cf7c3a;
      height: 5px;
      width: 40px;
      margin-bottom: 15px;
      position: absolute;
      bottom: 17%;
      left: 7%; }
    .travel-gallery .wrapper figure .icon {
      padding: 25px;
      border-radius: 100%;
      background-color: rgba(93, 93, 92, 0.9);
      width: 40px;
      height: 40px; }
      .travel-gallery .wrapper figure .icon img {
        width: 100%; }

.raft {
  background-image: url(../img/home-raft.jpg); }

.base-camp {
  background-image: url(../img/home-basecamp.jpg); }

.backpacking {
  background-image: url(../img/home-backpacking.jpg); }

.canoe {
  background-image: url(../img/home-canoe.jpg); }

.photo {
  background-image: url(../img/home-photo.jpg); }

.custom {
  background-image: url(../img/home-custom.jpg); }

@media screen and (max-width: 840px) {
  a {
    flex: 1 1 50%; }
    a:last-child {
      flex-basis: 100%; }
    a:first-child {
      flex-basis: 100%; } }

/*# sourceMappingURL=styles.css.map */
