@charset "UTF-8";
.hero h1 span {
  font-family: "Playfair Display", sans-serif;
  font-size: 120px;
  line-height: 1;
  color: white;
  text-decoration: none;
  text-transform: uppercase; }

.main-branding-background-image header nav, .hero .button a {
  font-family: "Fjalla One", serif;
  font-size: 13.125px;
  line-height: 1.5;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase; }

.dropdown ul li {
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  font-size: 15px; }

.hero h1 {
  font-family: "Fjalla One", serif;
  font-size: 19.6875px;
  line-height: 1.5;
  color: white;
  letter-spacing: 6px;
  text-transform: uppercase; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

.main-branding-background-image {
  background-image: url(../img/hero-background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white; }
  .main-branding-background-image header {
    padding-top: 4em;
    display: flex;
    justify-content: space-around;
    width: 82.5%;
    margin: auto; }
    .main-branding-background-image header .logo {
      flex: 1 1 110px;
      display: flex; }
      .main-branding-background-image header .logo img:first-child {
        width: 50px; }
      .main-branding-background-image header .logo img:nth-child(2) {
        width: 180px; }
    .main-branding-background-image header nav {
      display: flex;
      align-self: center;
      flex: 1 1 auto; }
      .main-branding-background-image header nav > ul {
        display: flex;
        justify-content: space-between;
        flex: 1 1 auto; }
        .main-branding-background-image header nav > ul li {
          flex: 1 1 auto; }

.dropdown {
  position: relative; }
  .dropdown > a {
    padding: 1em; }
  .dropdown::after {
    font-family: sans-serif;
    content: ""; }
  .dropdown:hover ul {
    display: block;
    background-color: #343432; }
  .dropdown:hover a {
    background-color: #343432;
    border-radius: 3px; }
  .dropdown ul {
    position: absolute;
    display: none; }
    .dropdown ul li {
      background-color: #343432;
      letter-spacing: normal;
      color: #b9bdb8;
      line-height: 2em;
      width: 200px;
      padding: 1em;
      border-bottom: 1px #b9bdb8 solid; }

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .hero h1 {
    padding-bottom: 2em; }
  .hero .button {
    padding: 4em;
    border-top: 5px white solid; }
    .hero .button a {
      padding: 1.5em 2em;
      background-color: #cf7c3a; }

/*# sourceMappingURL=styles.css.map */
