.main-branding-background-image
  background-image: url(../img/hero-background.jpg)
  background-size: 100%
  background-repeat: no-repeat
  header
    display: flex
    figure
      display: flex
    nav
      display: flex
      ul
        display: flex
