.main-branding-background-image
  background-image: url(../img/hero-background.jpg)
  background-size: 100%
  background-repeat: no-repeat
  color: white
  header
    padding-top: 4em
    display: flex
    justify-content: space-around
    width: 82.5%
    margin: auto
    .logo
      flex: 1 1 110px
      display: flex
      img:first-child
        width: 50px
      img:nth-child(2)
        width: 180px
    nav
      display: flex
      align-self: center
      flex: 1 1 auto
      @extend %nav-big-links
      >ul
        display: flex
        justify-content: space-between
        flex: 1 1 auto
        li
          flex: 1 1 auto

.dropdown
  position: relative
  & > a
    padding: 1em
  &::after
    font-family: sans-serif
    content: '\f107'
  &:hover
    ul
      display: block
      background-color: $dark-gray
    a
      background-color: $dark-gray
      border-radius: 3px

  ul
    position: absolute
    display: none
    li
      background-color: $dark-gray
      @extend %nav-small-links
      letter-spacing: normal
      color: $light-gray
      line-height: 2em
      width: 200px
      padding: 1em
      border-bottom: 1px $light-gray solid
